{% load bootstrap4 %}
{% load staticfiles %}

<head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<form action="/url/to/submit/" method="POST" class="form">
    {% csrf_token %}
    {% bootsrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form>