body {
    width: 100%;
    height: 1526px;
}
    
.header-wrapper {
    position: relative;
}

#headerlogo{
    position: relative;
    float: left;
    padding-left: 90px;
    padding-top: 44px;
    width: -10%;
    height: 120px;
    display: inline-table;
}

#headerimg {/* width: 1024px; */height: 400px;
    width:100%;
    position: absolute;
    /* background-color: transparent; */
    background-image: url(../img/chairs.jpg);
    background-size: cover;
    margin: 0;padding: 0;/* D:\AE_NewP\AE_NewP\static\image\chairs.jpg */}

#roundedimages{
    /* border-radius: 50%; */
    position: relative;
    float: right;
    display: inline-table;
    margin-top: -70px;
    margin-right: 400px;
}

#navbar {position: relative;padding-top: 57px;}
    ul {
        list-style-type: none;
        display: inline-block;
        font-size: 24px;
        color: white;
    }
        li{
            display: inline-block;
            margin-left: 6px;
            margin-right: 10px;
            padding: 10px;
        }

        li:hover {
            border: 2px solid;
            border-color: teal;
        }
        
        li:active{
            border-bottom: 2px;
            border-color: antiquewhite;
        }


.dropdown {
float: left;
overflow: hidden;
}


/* Dropdown button */
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

