* {background-color: white;}

.header {background-color: aquamarine;margin-top: 27px;margin-left: 12%;max-width: 1000px;text-align:center;padding: 80px 0;border: 1px solid turquoise;border-style: outset;border-width: 6px;height: 40px;font-family: fantasy;font-size: 60px;text-decoration: none;-webkit-text-fill-color: darkslategrey;color: black;
/* Safari 3-4, iOS 1-3.2, Android 1.6- */-webkit-border-radius: 12px; 
/* Firefox 1-3.6 */-moz-border-radius: 12px; 
/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */border-radius: 12px;}

table, td, th{border: none;border-spacing: 12px;margin-left: 8%;background-color: lightsalmon;border-radius: 6px;}

th#th1 {
  padding: 8px;
}

#table1 {border-collapse: separate;background-color: mediumseagreen;border-spacing: 10px;/* padding-left: 3px; */margin-left: 18%;padding: 6px;border-radius: 10px;border: none;}

#tableN{
border-collapse: separate;
  border-spacing: 10px;
}

#td1{border: none;margin-left: 4%;}
#tr1{
border: None;
}

.row::after {
content: "";
clear: both;
display: table;
}

[class*="col-"] {
float: left;
padding-right: 10px;
}

.menu ul {list-style-type: none;margin: 0;padding: 0;border-radius: 10px;}

.menu li {padding: 8px;border-radius: 10px;text-align: center;margin-bottom: 7px;background-color: #33b5e5;color: #ffffff;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}

.menu li:hover {
background-color: #0099cc;
}

.aside {
background-color: #33b5e5;
padding: 15px;
color: #ffffff;
text-align: center;
font-size: 14px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content {
  background-color: tomato;
  border: 2px;
  margin: auto;
  width: 350%;
  padding: 12px;
  padding-bottom: 500px;
  margin-left: 20px;
  text-align: center;
  border-radius: 12px;
}

.content .search-container {
  float: right;
}

.content input[type=text] {
  padding: 6px;
  margin-top: 5px;
  font-size: 16px;
  border: none;
}

.content .search-container button {
  float: right;
  padding: 20px 22px;
  margin-top: 0px;
  margin-right: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.content .search-container button:hover {
  background: #ccc;
}